@layer crops{

.farm-field {
  position: relative;
  width: var(--farm-field-width);
  height: var(--farm-field-height);
  margin: 0 auto;
  background: url('../assets/bg-granja.png') center/cover no-repeat; /* ajusta ruta si difiere */
  overflow: hidden;
}

/* Grillas */
.plots-grid {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: var(--plots-gap);
  width: var(--plots-w);
  height: var(--plots-h);
  z-index: 2;
}

.plots-left  { top: var(--plots-top); left:  var(--plots-left); }
.plots-right { top: var(--plots-top); right: var(--plots-right); }

.plot-cell {
  background: rgba(124, 55, 55, 0.35);
  border: 2px dashed rgba(46, 33, 33, 0.2);
  border-radius: 8px;
  transition: background .15s;
  cursor: pointer;
}

.plot-cell:hover {
  background: rgba(255, 173, 173, 0.5);
    cursor: pointer;
    transition: all 0.3s ease;
}


.plot-cell.plot-active {
  background: url('../../assets/parcela.png') center/cover no-repeat;
  background-size: cover;
  background-position: center;
  border: none; /* opcional: quita el borde punteado */
}

  }