footer {
    height: 10vh;
    align-items: center;
    text-align: center;
    padding: var(--sp-xl);
}

.login-back {
    text-align: center;
    background: linear-gradient(hsla(0, 0%, 0%, 0.4), hsla(0, 0%, 0%, 0.4)), url('../../assets/Illustrationproyecto1.jpg') center/cover no-repeat;
}

.signin-back {
    text-align: center;
    background: linear-gradient(hsla(0, 0%, 0%, 0.4), hsla(0, 0%, 0%, 0.4)), url('../../assets/Illustrationproyecto2.jpg') center/cover no-repeat;
}


.language-selector {
    align-items: center;
    gap: 5px;
}



.card {
    background-color: var(--extra);
    width: 500vh;
    height: 50vh;
    max-width: 400vh;

}


.display-flex {
    display: flex;

}